
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
	    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/mycss.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body class="bglayer">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"style="position: relative; height: 96px;">

    <a class="navbar-brand " href="/" style="font-size: 2.25rem;position: relative;top: 05px;left: 21px;color: white;">Shortly</a>
</nav>


   <!-- /form-26-section -->
   <section class="form-26">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-26-info">
						 <h2>Login</h2>
                    </div>
					<div class="form-right-inf"> 
							<form action="#" method="post" class="signin-form" style="
    position: relative;
    top: 40px;
">
							 <div class="forms-gds">
								<div  class="form-input">
									<input type="email" name="email" placeholder="Email" required />
								</div>
								<div  class="form-input">
									<input type="password" name="password" placeholder="Password" required />
								</div>
								<div  class="form-input"><button class="btn">Login</button></div>
							</div>
							<h6 class="already"> Dont have an account? <a href='/register/'><span>Register Here<span></span></span></a></h6>
						</form>
						
                    </div>

                </div>

			</div>
		</div>
		    </div>
		</section>

      <!-- //form-26-section -->

<!--error-->
{% if invalid_email == True %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="
    position: relative;
    top: -190px;
">
  <strong>Invalid Email!</strong> Please enter a valid email.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif invalid_password == True %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Invalid Password!</strong> Please enter a valid password.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/mycss.css">
    <link rel="stylesheet" href="../template/mycss.css">
</body>
</html>